<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">Similar topics</lang>
        <lang name="russian">Похожие записи</lang>
        <lang name="ukrainian">Схожі записи</lang>
    </name>
    <author>
        <lang name="default">Web-studio stfalcon.com</lang>
    </author>
    <homepage>http://stfalcon.com/</homepage>
    <version>0.3.0</version>
    <requires>
        <livestreet>1.0</livestreet>
    </requires>
    <description>
        <lang name="default">Display a list of similar topics.</lang>
        <lang name="russian">При просмотре топика выводит список похожих записей в сайдбаре. Полезно для SEO (перелинковка)</lang>
        <lang name="ukrainian">При перегляді топіку виводить список схожих записів в сайдбарі. Корисно для SEO (перелінковка)</lang>
    </description>
</plugin>
